In [4]:
(1 - pt(7.64, df=72)) * 2

[1] 7.193091e-11

In [5]:
qt(0.975, df=72)

[1] 1.993464

In [21]:
x <- matrix(1:12, nrow=3)
rownames(x) <- c('one', 'two', 'three')
x

      [,1] [,2] [,3] [,4]
one   1    4    7    10
two   2    5    8    11
three 3    6    9    12